@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>English Battle</h1>
    <p class="lead">Bienvenue sur le site d'english battle.</p>
    <p>Le site idéal pour réviser ses verbes irréguliers</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Pour jouer une partie il faut vous connecter ou vous inscrire.</p>
        <p>
            @Html.ActionLink("Connexion", "Login", "Account") <br />
            @Html.ActionLink("Inscription", "Register", "Account")
        </p>
    </div>
</div>